# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Thesis
Investigating the Dynamics of a Chaotic Sprott Circuit.pdf

# Thesis LaTeX
main.aux
main.fdb_latexmk
main.fls
main.log
main.pdf
# Generated figures
figures/
